.card {
  width: 300px;
  background-color: #f0f8ff;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #333;
}

#name {
  color: #2a4dff;
  font-size: 28px;
}

.role {
  color: #444;
  font-size: 18px;
}

.contact {
  color: green;
}
