body {
  margin: 0;
  font-family: Arial;
}

.city {
  display: grid;
  height: 100vh;

  grid-template-columns: 200px 1fr;
  grid-template-rows: 80px 1fr 60px;

  grid-template-areas:
    "header header"
    "sidebar content"
    "footer footer";

  gap: 10px;
}

.header {
  grid-area: header;
  background-color: #4dafff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  grid-area: sidebar;
  background-color: #ffd966;
  padding: 20px;
}

.content {
  grid-area: content;
  background-color: #c6efce;
  padding: 20px;
}

.footer {
  grid-area: footer;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
}
