body {
  font-family: Arial;
  text-align: center;
}

.playground {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;

  margin-top: 50px;
  padding: 20px;
  background-color: #f0f8ff;
  border: 3px solid #333;
  border-radius: 10px;
}

.toy {
  width: 80px;
  height: 80px;
  background-color: #ffb6c1;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
